:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 200 900;

  --transition-time: 0.1s;
}

@media (prefers-color-scheme: light) {
  .theme {
    --bar-contrast: rgb(245, 245, 223);
    --bar-bground: rgb(5, 10, 15);
    --svg-filter: invert(89%) sepia(30%) saturate(180%) hue-rotate(348deg) brightness(110%) contrast(92%);
    --shadows: rgba(5, 10, 15, 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  .theme.adaptive {
    --bar-contrast: rgb(5, 10, 15);
    --bar-bground: rgb(185, 185, 163);
    --svg-filter: invert(2%) sepia(66%) saturate(1799%) hue-rotate(185deg) brightness(95%) contrast(96%);
    --shadows: rgba(245, 245, 223, 0.3);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* taken from https://codepen.io/nelledejones/pen/gOOPWrK */
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes nav-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bar-bground);
  color: var(--bar-bground);
}

nav {
  box-shadow: 0px 8px 16px 0px var(--shadows);
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  background-color: var(--bar-contrast);
  height: calc(100vh - 10rem);
  padding: 3rem 3rem 3rem 3rem;
  margin: 0 0rem 1rem 0;
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: -2;
}

section:first-child {
  margin-top: 1.2rem;
}

section:last-child {
  border-bottom: 0rem;
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#navbar {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bar-bground);
  z-index: 0;
  overflow-x: hidden;
  width: 100vw;
}

#navlinks {
  list-style-type: none;
  overflow: hidden;
  padding: 0rem 1rem;
}

#welcome-section {
  height: calc(100vh - 30vh);
  padding-top: calc(30vh - 4rem);
  text-align: center;
  vertical-align: middle;
}

#welcome-section h1 {
  font-size: 5rem;
  font-weight: 100;
  animation: fadeIn 3s;
  text-shadow: 1px 1px 2px var(--shadows);
}

#welcome-section p {
  margin: 2vh -30vw 0 -30vw;
}

#welcome-section i {
  padding-top: 20vh;
  font-size: 3rem;
  color: var(--bar-bground);
  cursor: pointer;
  animation: pulse 1s infinite ease-in-out alternate;
}

#container {
  margin-left: 0;
  margin-top: 2rem;
  height: calc(100% -2rem);
  transition: var(--transition-time);
}

#projects::before #project::after {
  padding: 0;
  margin 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

.project-card {
  border-radius: 0.3rem;
  text-decoration: none;
  color: var(--bar-bground);
  max-width: 80vw;
  min-width: 480px;
  animation: fadeIn 3s;
  box-shadow: 0px 8px 16px 0px var(--shadows);
  margin-bottom: 2rem;
  padding: 0.5vw 3vw 3vw 3vw;
}

.project-title {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px var(--shadows);
}

.project-description {
  padding-top: 2rem;
  font-size: 1rem;
  text-align: left;
}

.project-description-link {
  color: var(--bar-bground);
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--shadows);
}

.project-description-link:hover {
  text-shadow: 0px 0px 1px var(--shadows);
  transition: 0.3s;
}

.navlink a {
  color: var(--bar-contrast);
}

.navlink:hover {
  border-radius: 1rem;
  transition: 0.5s;
  animation: nav-pulse 1s infinite ease-in-out alternate;
}

.dropdown:hover {
  animation: nav-pulse 1000000s infinite ease-in-out alternate;
}

.navlink li a {
  display: block;
  color: var(--bar-contrast);
  text-decoration: none;
}

.navlink:last-child a {
  color: var(--bar-contrast);
}

.screenshots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
  place-items: center;
}

.screenshots:nth-child(even) {
  order: 2;
}

.screenshots img {
  border-radius: 1.5rem;
  box-shadow: 0.1vh 0.1vh 0.2vw 0px var(--shadows);
}

.screenshot img:nth-child(even) {
  order: 1
}

.text-2 {
  grid-column: 2;
}

.screenshot-2 {
  grid-column: 1;
}

.screenshot {
  max-width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 720px) {
  .screenshots {
    grid-template-columns: 1fr;
  }
}

.navlink {
  float: right;
  width: 4rem;
  text-align: center;
}

.navlink:last-child {
  width: 8rem;
  float: left;
}

.svg {
  filter: var(--svg-filter);
  width: 1rem;
  height: 1rem;
}

.dropdown {
  position: fixed;
  top: 1rem;
  right: 14rem;
  text-align: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 16rem;
  background-color: var(--bar-bground);
  box-shadow: 1vh 1vh 1vw 0px var(--shadows);
  border-radius: 0 0 1rem 1rem;
}

.dropdown-content a {
  color: var(--bar-contrast);
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child {
  padding-top: 2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.img-and-text {
  display: flex;
}

.img-and-text > p {
  align-self: flex-end;
}
