@font-face {
    font-family: 'JF Dot Shinonome Gothic 14';
    src: url('font/JF-Dot-Shinonome-14-Regular.ttf') format('truetype');
}

:root {
  --background-color: rgba(30, 50, 30, 80%);
  --text-color: rgb(230, 230, 230);
  --window-color: rgb(135, 100, 100);
  --button-color: rgb(100, 100, 100); 
  --button-color-active: rgb(70, 70, 70); 
  --shadows: 0 8 16 0 var(--shadow-color);
  --shadow-color: rgb(5 10 15 / 80%);
  --window-background: var(--shadow-color);
  --border-main: 4px solid var(--shadow-color);
}

* {
  font-family: 'JF Dot Shinonome Gothic 14'; font-weight: normal; font-style: normal;
  transition: 0.1s;
}

body {
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--shadow-color);
  background-image: url('./locations/map.png');
  font-size: 5ch;
  padding: 1ch 2ch;
}

a {
  color: var(--text-color);
}

button {
  font-size: 1.5ch;
  background-color: var(--button-color);
  border: var(--border-main);
  text-align: center;
  cursor: initial;
  padding-bottom: auto;
  width: 100%;
}

button:active {
  background-color: var(--button-color-active);
}

#controls {
  display: inline-grid;
}

.stat {
  display: table;
  height: 2ch;
  width: auto;
}

#game {
  background-color: var(--window-background);
  margin: auto;
  margin-top: 1ch;
  padding: 2ch;
  height: 640px;
  box-shadow: 0 8px 16px 0 var(--shadow-color);
  border-radius: 1%;
}

#location {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#location > img {
  min-width: 100vw;
  min-height: 100vh;
  transition: none;
}

#stat-bar {
  display: grid;
  grid-gap: 1ch;
  margin-left: 0.5ch;
  margin-top: 0.5ch;
  margin-bottom: 0ch;
}

#text {
  padding: 0.2ch 1ch 0.2ch 1ch;
  margin-top: 1ch;
  border: 2ch solid transparent;
  padding: 0.5ch;
  border-image: url("") 100 stretch;
  max-height: 35%;
  overflow-y: scroll;
}

#monsterStats, #stats {
  display: inline-grid;
  min-width: 30vw;
  height: 6ch; 
}

#stats {
  grid-column: 1;
}

#monsterStats {
  grid-column: 2;
  display: none;
}

#monsterImage {
  float:right;
  margin-top: -2ch;
  display: none;
}

/* Screens, screens, screens */
/* ----------- iPhones ----------- */

/* 16 Pro */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 36px)
  and (max-device-width: 2040px)
  and (-webkit-min-device-pixel-ratio: 3) {
   * {
   }
    #game {
      margin: auto;
      padding: auto;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 36px)
  and (max-device-width: 2040px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #game {
      width: 80vw;
      height: 90vh;
    }
    #text {
      border: 1px solid transparent;
      font-size: 4rem;
      width: 75vw;
      max-height: 6em;
      margin: auto;
      margin-top: 30vh;
      word-wrap: break-word;
      overflow-x: hidden;
      border-radius: 1rem;
      box-shadow: 0vh 0vw 1vh white; 
    }
    #monsterImage {
      position: absolute;
      top: 10vh;
      left: 50vw;
      padding: 0px;
      margin: 0px;
      width: content;
      height: content;
    }
    #monsterImage > img {
      width: 40vw;
      filter: drop-shadow(0vh 0vw 5px white); 
    }
    #controls{
      width: 80vw;
      position: absolute;
      bottom: 6vh;
      display: inline-grid;
      grid-gap: 1ch;
    }
    #controls > button {
      height: 1.5em;
      border-radius: 15px;
      font-size: 2em;
      color: var(--text-color);
      white-space: nowrap;
    }
  }

/* Landscape */
@media only screen
  and (min-device-width: 36px)
  and (max-device-width: 2040px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    html {
      width: 100%;
    }
    #game {
    }
}
