

:root {
  font-family: "JF Dot Shinonome Gothic 14", "Courier New", Courier, monospace;
  font-display: swap;
  --background-color: rgba(30, 50, 30, 80%);
  --text-color: rgb(230, 230, 230);
  --window-color: rgb(135, 100, 100);
  --button-color: rgb(100, 100, 100);
  --button-color-active: rgb(70, 70, 70);
  --shadows: 0 8 16 0 var(--shadow-color);
  --shadow-color: rgb(5 10 15 / 80%);
  --window-background: rgb(10 15 20 / 80%);
  --border-main: 4px solid var(--shadow-color);
}

* {
  font-family: "JF Dot Shinonome Gothic 14";
  font-weight: normal;
  font-style: normal;
  transition: 0.1s;
}

body {
  display: flex;
  overflow: hidden;
  color: var(--text-color);
  background: url(./locations/map.png) no-repeat center fixed;
  background-size: cover;
  background-color: var(--shadow-color);
  padding: 1ch 2ch;
  min-width: 310px;
}

a {
  color: var(--text-color);
}

button {
  background-color: var(--button-color);
  border: var(--border-main);
  text-align: center;
  cursor: initial;
  height: 6vh;
  width: 30vw;
  margin: 1ch;
}

button:active {
  background-color: var(--button-color-active);
}

#location {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#location > img {
  min-width: 100vw;
  min-height: 100vh;
  transition: none;
}

#game {
  display: grid;
  background-color: var(--window-background);
  margin: auto;
  margin-top: 1ch;
  padding: 2ch;
  box-shadow: 0 8px 16px 0 var(--shadow-color);
  border-radius: 1%;
  width: auto;
  height: 80vh;
}

#stat-bar {
  position: relative;
  background-color: var(--shadow-color);
  display: grid;
  grid-gap: 1ch;
  margin-top: 0.5ch;
  margin-bottom: 0ch;
  border-radius: 3%;
  padding: 0.5em;
  padding-top: 0.3em;
  height: 4.5rem;
}

.stat {
  display: table;
  height: 2ch;
  width: auto;
  font-size: 1.5em;
}

#monsterStats,
#stats {
  min-width: 30vw;
  height: 4.5rem;
}

#stats {
  grid-column: 1;
  display: inline-grid;
}

#monsterStats {
  grid-column: 2;
  display: none;
}

#monsterImage {
  display: none;
  z-index: 1;
  padding-left: 50%;
  width: auto;
  height: min-content;
  margin-bottom: -5px;
}

#monsterImage img {
  transform: translateX(-50%);
}

#text {
  place-self: stretch;
  background-color: var(--shadow-color);
  border-radius: 3%;
  border: 1ch solid white;
  border-image: url("") 100 stretch;
  padding: 0ch 1ch;
  box-shadow: 0 0 1ch var(--shadow-color);
  word-wrap: break-word;
  width: auto;
  overflow-x: hidden;
  height: 30vh;
  overflow-y: scroll;
  font-size: 2em;
  z-index: 0;
}

#text > p {
  margin: 0px;
  padding: 0px;
}

#controls {
  display: table;
  width: 100%;
  left: 0px;
  bottom: 1vh;
}

#controls button {
  color: var(--text-color);
  border: 0;
  font-size: 1.2em;
  border-radius: 0.1em;
  white-space: nowrap;
  margin: 1%;
  padding: 1%;
  width: 48%;
}

#animation {
  background-color: orangered;
  border-radius: 50%;
  position: fixed;
  top: 45vh;
  right: 50vw;
  border-end-end-radius: 50%;
  z-index: 2;
}

button {
  box-shadow: 0 8px 16px 0 var(--shadow-color);
}
button:active,
button:focus {
  background-color: var(--button-color-active);
}
/* Animations */
@keyframes rolldown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
